1) Анализ временных рядов помесячных продаж (с 2006 г.) б/у и новых автомобилей.
Построить ARIMA и ECM, показатели взять: общий уровень цен, курс валюты, ВВП (лучше не его), уровень доходов.
Лучше, если по регионам.

http://greenway.icnet.ru/cars-sales-actual-russia.html - useful material
https://www.autostat.ru/press-releases/47248/ - top 30 regions by ...

Рынок легковых автомобилей с пробегом в сентябре 2022 года
За дополнительной информацией обращайтесь в агентство «АВТОСТАТ» к Азату Тимерханову
по телефонам: +7 (8482) 95-64-36, +7 (499) 685-01-51, или по e-mail: press@autostat.ru

In [105]:
import pandas as pd

df = pd.read_excel('demand_for_new_cars.xlsx')  # https://auto.vercity.ru/statistics/sales/europe/russia/

df = pd.melt(df, id_vars=['Year'])\
    .rename({'variable': 'Month', 'value': 'demand_new'}, axis=1)
df['Month'] = pd.to_datetime(df['Month'], format='%B').dt.month
df['date'] = pd.to_datetime(df[['Year', 'Month']].assign(DAY=1))
df = df[['date', 'demand_new']].sort_values(['date']).reset_index(drop=True)

# print(df.tail(3))
df = df[:-1]

df['demand_new'] = df['demand_new'].apply(lambda x: x.replace(' ', '')).astype('int')

df.head()

        date  demand_new
0 2006-01-01       95253
1 2006-02-01      116309
2 2006-03-01      147308
3 2006-04-01      169045
4 2006-05-01      165121

In [106]:
# Индексы потребительских цен на непродовольственные товары по Российской Федерации в 1991-2022гг.
inf_df = pd.read_excel('inflation.xlsx')  # https://rosstat.gov.ru/statistics/price

inf_df = pd.melt(inf_df, id_vars=['month'])\
    .rename({'variable': 'year', 'value': 'inflation_rate'}, axis=1)
inf_df['date'] = pd.to_datetime(inf_df[['year', 'month']].assign(DAY=1))

inf_df = inf_df[['date', 'inflation_rate']].sort_values(['date']).reset_index(drop=True)

# print(inf_df.tail(3))
inf_df = inf_df[:-1]

inf_df['inflation_rate'] = inf_df['inflation_rate'].astype('float')

inf_df.head()

        date  inflation_rate
0 1991-01-01           109.0
1 1991-02-01           105.9
2 1991-03-01           104.6
3 1991-04-01           170.5
4 1991-05-01           105.4

In [107]:
brent_df = pd.read_csv('ICE.BRN_050101_230109.txt')     # https://www.finam.ru/profile/tovary/brent/export/

brent_df = brent_df[['<DATE>', '<CLOSE>']].rename({'<DATE>': 'date', '<CLOSE>': 'close_price'}, axis=1)
brent_df['date'] = pd.to_datetime(brent_df['date'], format='%Y%m%d')

brent_df.head()

        date  close_price
0 2005-01-01        45.87
1 2005-02-01        50.14
2 2005-03-01        53.05
3 2005-04-01        49.33
4 2005-05-01        49.83