1) Анализ временных рядов помесячных продаж (с 2006 г.) б/у и новых автомобилей.
Построить ARIMA и ECM, показатели взять: общий уровень цен, курс валюты, ВВП (лучше не его), уровень доходов.
Лучше, если по регионам.

http://greenway.icnet.ru/cars-sales-actual-russia.html

Рынок легковых автомобилей с пробегом в сентябре 2022 года
За дополнительной информацией обращайтесь в агентство «АВТОСТАТ» к Азату Тимерханову
по телефонам: +7 (8482) 95-64-36, +7 (499) 685-01-51, или по e-mail: press@autostat.ru

In [85]:
import pandas as pd

df = pd.read_excel('demand_for_new_cars.xlsx')  # https://auto.vercity.ru/statistics/sales/europe/russia/

df = pd.melt(df, id_vars=['Year'])\
    .rename({'variable': 'Month', 'value': 'demand_new'}, axis=1)
df['Month'] = pd.to_datetime(df['Month'], format='%B').dt.month
df['date'] = pd.to_datetime(df[['Year', 'Month']].assign(DAY=1))
df = df[['date', 'demand_new']].sort_values(['date']).reset_index(drop=True)

# print(df.tail(3))
df = df[:-1]

df['demand_new'] = df['demand_new'].apply(lambda x: x.replace(' ', '')).astype('int')

df

          date  demand_new
0   2006-01-01       95253
1   2006-02-01      116309
2   2006-03-01      147308
3   2006-04-01      169045
4   2006-05-01      165121
..         ...         ...
198 2022-07-01       36605
199 2022-08-01       47090
200 2022-09-01       52738
201 2022-10-01       45228
202 2022-11-01       46403

[203 rows x 2 columns]

In [86]:
# Индексы потребительских цен на непродовольственные товары по Российской Федерации в 1991-2022гг.
inf_df = pd.read_excel('inflation.xlsx')  # https://rosstat.gov.ru/statistics/price

inf_df = pd.melt(inf_df, id_vars=['month'])\
    .rename({'variable': 'year', 'value': 'inflation_rate'}, axis=1)
inf_df['date'] = pd.to_datetime(inf_df[['year', 'month']].assign(DAY=1))

inf_df = inf_df[['date', 'inflation_rate']].sort_values(['date']).reset_index(drop=True)

# print(inf_df.tail(3))
inf_df = inf_df[:-1]

inf_df['inflation_rate'] = inf_df['inflation_rate'].astype('float')

inf_df

          date  inflation_rate
0   1991-01-01          109.00
1   1991-02-01          105.90
2   1991-03-01          104.60
3   1991-04-01          170.50
4   1991-05-01          105.40
..         ...             ...
378 2022-07-01           99.56
379 2022-08-01           99.95
380 2022-09-01          100.15
381 2022-10-01          100.04
382 2022-11-01          100.06

[383 rows x 2 columns]